<!DOCTYPE html>
<html>
    <head>
        <title>Companions</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .content-section {

                width: 50%;
                text-align: center;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>
