{% extends 'users/base.html' %}
{% load static %}
{% block content %}
 <!-- About Start -->
 <div class="container mt-5">
  <strong><p class="h4 ml-auto mr-auto p-0 mb-0">
    Welcome to Furry Friends, your ultimate destination for all things furry
    and feathery!!
  </p></strong>
   <div class="row py-5">
     <div class="col-lg-7 pb-4 pt-4 pb-lg-0 px-3 px-lg-5">
       <p class="mb-4 fs-6 p-0">
         At Furry Friends, we understand that pets are not just animals; they are
         cherished members of your family, bringing joy, love, and
         companionship to your life. Our online pet shop is designed with the
         utmost care and dedication to provide a seamless and enjoyable
         experience for both you and your future four-legged friend.
       </p>
       <p class="mb-4 fs-6 p-0">
         Furry Friends was founded with a passion for enhancing the bond between
         humans and animals. Our team of pet enthusiasts and experts is
         committed to delivering a diverse selection of pets, pet supplies,
         and accessories to cater to the unique needs and preferences of
         every pet lover.
       </p>
     </div>
     <div class="col-lg-4">
       <div class="row px-3">
         <div class="col-12 p-1">
           <img class="img-fluid w-100 rounded" src="{% static 'images/carousel-1.jpg' %}" alt="" />
         </div>
         <div class="col-6 p-1">
           <img class="img-fluid w-100 rounded" src="{% static 'images/birddd.jpg' %}" alt="" />
         </div>
         <div class="col-6 p-1">
           <img class="img-fluid w-100 rounded" src="{% static 'images/about-1.jpg' %}" alt="" />
         </div>
       </div>
     </div>
   </div>
   <!--Additional Info here-->
 </div>
 <!-- About End -->
{% endblock %}