{% extends 'users/base.html' %} {% load crispy_forms_tags %} {% block content %}
<style>
  .register {
    width: 360px;
    height: 450px;
    margin: auto;
    background-color: #c2bcd9;
    border-radius: 3px;
    padding: 10px;
  }
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  h4 {
    text-align: center;
  }
  form {
    width: 300px;
    margin-left: 20px;
    padding: 5px;
  }
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #ffb524;
    color: white;
    font-size: 18px;
  }
  body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
  }
  .main-body {
    padding: 15px;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 2px;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm > .col,
  .gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }
  .h-100 {
    height: 100% !important;
  }
  .shadow-none {
    box-shadow: none !important;
  }
</style>
<div class="register">
  <div class="col-md-3 mx-auto">
    <form class="card" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend style="text-align: center">Join Today</legend>
        <hr />
        {{ form | crispy }}
      </fieldset>
      <div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
    <hr />
    <div>
      <small
        >Already have an Account?
        <a class="btn btn-primary mb-2" href="{% url 'login' %}"
          >Sign In</a
        ></small
      >
    </div>
  </div>
</div>
{% endblock %}
