{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<!--
<h1>We have the following pets</h1>
{% for cat in cats %}
    <ul>
        <li>{{ cat.specie }}</li>
    </ul>
{% endfor %}
-->
<!-- Modal Search Start -->
<div
class="modal fade"
id="searchModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-fullscreen">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Search by keyword
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body d-flex align-items-center">
      <div class="input-group w-75 mx-auto d-flex">
        <input
          type="search"
          class="form-control p-3"
          placeholder="keywords"
          aria-describedby="search-icon-1"
        />
        <span id="search-icon-1" class="input-group-text p-3"
          ><i class="fa fa-search"></i
        ></span>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal Search End -->

<!-- Hero Start -->
<div class="container-fluid hero-header">
<div class="container py-5">
  <div class="row g-5 align-items-center">
    <div class="col-md-12 col-lg-7">
      <h4 class="mb-3 text-secondary">Your Online Pet Shop</h4>
      <h1 class="mb-5 display-3 text-primary">We Love Animals</h1>
      <div class="position-relative mx-auto">
        <input
          class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill"
          type="text"
          placeholder="Search"
        />
        <button
          type="submit"
          class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
          style="top: 0; right: 25%"
        >
          Submit Now
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Hero End -->
<!-- products -->
<div class="product-section mt-150 mb-150">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="product-filters">
        <ul>
          <li class="active" data-filter="*">All</li>
          <li data-filter="dog">Dogs</li>
          <li data-filter="cat">Cats</li>
          <li data-filter="bird">Birds</li>
          <li data-filter="rabbit">Rabbits</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row product-lists">
    <div class="col-lg-4 col-md-6 text-center dog" data-filter="dog">
      <div class="single-product-item dog">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/cart_dog.jpg" alt="" />
          </a>
        </div>
        <h3>Dog</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href="./terms.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center cat" data-filter="cat">
      <div class="single-product-item cat">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/cart cat.jpg" alt="" />
          </a>
        </div>
        <h3>Cat</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href="./terms.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 text-center rabbit"
      data-filter="rabbit"
    >
      <div class="single-product-item rabbit">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/cart rabb.jpg" alt="" />
          </a>
        </div>
        <h3>Rabbit</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href="./terms.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center dog" data-filter="dog">
      <div class="single-product-item dog">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/blog-2.jpg" alt="" />
          </a>
        </div>
        <h3>Dog</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href="./terms.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center bird" data-filter="bird">
      <div class="single-product-item bird">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/cart bird.jpg" alt="" />
          </a>
        </div>
        <h3>Bird</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href="cart.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center cat" data-filter="cat">
      <div class="single-product-item cat">
        <div class="product-image">
          <a href="single-product.html">
            <img src="./images/price-3.jpg" alt="" />
          </a>
        </div>
        <h3>Cat</h3>
        <a href="single-product.html" class="btn">
          <i class="btn btn-primary"></i> View Pet Information</a
        >
        <br />
        <a href=".terms.html" class="cart-btn">
          <i class="fas fa-shopping-cart"></i> Contact Seller</a
        >
      </div>
    </div>
  </div>
</div>
</div>
<!-- end products -->

<!-- <div class="row pagination">
    <div class="col-lg-12 text-center">
      <div class="pagination-wrap">
        <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a class="active" href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div> -->

<div class="col-lg-12">
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo; Previous</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
{% endblock %}